#bio {
    border: thick solid #571e43;
    column-gap: 5px;
    column-count: 2;
    padding: 1.5%;
}

#bio p {
    text-align: left;

    text-indent: 6%;


}

img {
    width: 60vw;
}



/* reduces large gaaps from occuring as the result of the change in with with justified text */
@media only screen and (max-width: 805px) {
    #bio p {
        hyphens: auto;
        padding: 1% 0;
        margin: 0 2%;
        column-count: 1;

    }

    #bio {
        column-gap: 0;
        column-count: 1;
    }

    img {
        width: 80vw;
    }
}