/* front page grid */
h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin-top: 0;
    padding: 0 2%;
}

section#frontpic {
    display: grid;
    grid-template: 33% / repeat(3, 33%);
    grid-gap: 0;
    margin: 1%;
    margin-left: 2%;
}

/* spaces the images in a visually appealing way within their grid */
#group,
#guitar,
#stage {
    width: 100%;
    padding: 1;
}

/* Front page grid end */

/* changes the grid to verticle at a certain width */
@media only screen and (max-width: 648px) {

    section#frontpic {
        display: grid;
        grid-template: repeat(3, 33%) / 66%;
        margin: 0 0 10% 25%;
    }

    img {
        width: 66%;
    }



}