/* ALL PAGES STYLING  to set parameters that will standard certain  aspects across all pages*/

body {
    color: #ffffff;
    margin: 0.2%;
    background-color: #000000;
    font-size: 105%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 50vw;
}

a {
    color: #ff0000;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

#start {
    font-size: 120%;
    clear: both;
}

header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    clear: left;
    padding-top: 1%;
}

main {
    text-align: center;
    clear: left;
}

/* puts the navigation title inline with contents */
#menu {
    padding-left: 1%;
}


/* Navigation Menu */
#links ul {
    list-style-position: inside;
    list-style-type: none;
    font-size: 140%;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    display: flex;
    color: #ffffff;
    flex-basis: 100%;
    padding: 0%;
    margin: auto;
    border-bottom: #571e43 0.1em groove;
}

#links ul li {
    flex-basis: 25%;
    background-color: #571e43;
    padding: 0% 1%;
    text-align: center;
}

#links ul li a {
    flex-basis: 25%;
    padding: 0%;
    text-decoration: none;
}

#links ul li a.lastitem {
    border-right: none;
}

#links h2 {
    background-image: linear-gradient(#000000, #571e43);
    margin-bottom: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid thick #571e43;
    clear: left;
}

footer {
    text-align: right;
    font-size: 80%;
    margin: 0%;
    clear: left;
    background-image: linear-gradient(#571e43, #000000);
    padding-top: 1%;
}
/* adds hover and visted features to links */
#links a:visited {
    color: aliceblue;
}

#links a:hover {
    color: #ff0000;
    background-color: #818181;

}


/* flex container for images */
.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

/* Media Queries */


/* changes the menu to verticle at a certain width */
@media only screen and (max-width: 648px) {

    #links ul {
        flex-direction: column;
        align-items: center;
        background-color: #571e43;
    }
}