/* index styles */


body {
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 1.1em;

}

header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

main {
    text-align: center;
}

/* Relational selector */
section#links>ul {
    list-style-position: inside;
    list-style-type: none;
    font-size: 1.2em;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(#571e43, #000000, #571e43);



}

#links h2 {
    background-image: linear-gradient(#000000, #571e43);
    margin-bottom: 0%;
    border-bottom: solid thick #000000;


}

footer {
    background: #571e43;
    text-align: right;
    font-size: 80%;
    margin: 0%;
    background-image: linear-gradient(#571e43, #000000);
}

#bio p {
    text-align: justify;
    column-count: 2;
    margin: 0em;
    padding: 0.2%;
    border: thick solid #571e43;

}


/* pseudo-class */
section#links a:hover {
    font-size: 150%;

}

section#links a:visited {
    color: #ff1e00;
}

/* ID selectors */
#bandimage {
    float: center;
    margin: 1em;
    /* margin-right:; */


}

/* class selectors */
.liveimg1 {
    float: center;
    margin: 3.5em;

}

/* Music.html  */

#biocover,
#artcover,
#velvetcover {
    align-items: center;
    padding: 0.5em;
}

#albums ol {
    list-style-position: inside;
    padding: 0%;
    border: thick solid #571e43;
    margin: 0em 30em;

}

#albums p {
    line-height: 29%;
    font-weight: bold;
}