/* index styles */


body {
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 1.1em;
}

header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

main {
    text-align: center;
}

/* Relational selector */
section#links>ul {
    list-style-position: inside;
    list-style-type: none;
    font-size: 1.2em;
    margin: 0%;
    padding: 0%;
    margin-bottom: 1%;
    
}

#links h2 {
    background: #571e43;
}
footer{ background: #571e43;
text-align: right;
font-size: 80%;}

#bio p {
    text-align: justify;
    column-count: 2;
    margin: auto;

}


/* pseudo-class */
section#links a:hover {
    font-size: 150%;

}

section#links a:visited {
    color: #ff1e00;
}

/* ID selectors */
#bandimage {
    float: left;
    margin-left: 3.5em;
    margin-top: 3.5em;
    aspect-ratio: 7/6;
}

/* class selectors */
.liveimg1 {
    float: center;
    margin-left: 2.5em;

}

/* about  styles  */