/* TOUR DATES START  */
#box {
    display: flex;
    flex-direction: row;
}

/* sets flex box for the page */
section#tour {
    flex-basis: 60%;
    margin: 2.5%;
    width: 100%;
}

aside#dates {
    flex-basis: 40%;
    font-size: 125%;
    margin: 5%;
    text-align: justify;
}

/* TOUR DATED END */

/* adjusts fonot for tour dates */

@media only screen and (max-width: 979px) {
    div#box {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 80vw;
    }
}

@media only screen and (max-width: 421px) {
    aside#dates {
        font-size: 5vw;
    }


}